<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636408277371-2uddu5td76sptvcpaqmubcpo7biblqcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636408277371-2uddu5td76sptvcpaqmubcpo7biblqcb</string>
	<key>API_KEY</key>
	<string>AIzaSyBx6k4Y1gMlBIy0mL68lwf0ou7Mwl_aVfE</string>
	<key>GCM_SENDER_ID</key>
	<string>636408277371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Keskese.KeskeseStaff</string>
	<key>PROJECT_ID</key>
	<string>keskese-menu</string>
	<key>STORAGE_BUCKET</key>
	<string>keskese-menu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:636408277371:ios:c212fa1ba6b09381e975de</string>
	<key>DATABASE_URL</key>
	<string>https://keskese-menu.firebaseio.com</string>
</dict>
</plist>
