<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KESKESE.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>14613EBCA70E12CDB75996167D9F05BE33ADB52C</string>
				<key>dateExpires</key>
				<string>12/3/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14613EBCA70E12CDB75996167D9F05BE33ADB52C</string>
						<key>dateExpires</key>
						<string>12/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14613EBCA70E12CDB75996167D9F05BE33ADB52C</string>
						<key>dateExpires</key>
						<string>12/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14613EBCA70E12CDB75996167D9F05BE33ADB52C</string>
						<key>dateExpires</key>
						<string>12/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14613EBCA70E12CDB75996167D9F05BE33ADB52C</string>
						<key>dateExpires</key>
						<string>12/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14613EBCA70E12CDB75996167D9F05BE33ADB52C</string>
						<key>dateExpires</key>
						<string>12/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14613EBCA70E12CDB75996167D9F05BE33ADB52C</string>
						<key>dateExpires</key>
						<string>12/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14613EBCA70E12CDB75996167D9F05BE33ADB52C</string>
						<key>dateExpires</key>
						<string>12/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14613EBCA70E12CDB75996167D9F05BE33ADB52C</string>
						<key>dateExpires</key>
						<string>12/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14613EBCA70E12CDB75996167D9F05BE33ADB52C</string>
						<key>dateExpires</key>
						<string>12/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14613EBCA70E12CDB75996167D9F05BE33ADB52C</string>
						<key>dateExpires</key>
						<string>12/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14613EBCA70E12CDB75996167D9F05BE33ADB52C</string>
						<key>dateExpires</key>
						<string>12/3/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>933F83CUZH.me.keskese.keskese</string>
				<key>com.apple.developer.team-identifier</key>
				<string>933F83CUZH</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>933F83CUZH.me.keskese.keskese</string>
				</array>
			</dict>
			<key>name</key>
			<string>KESKESE.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>91788587-c612-4bb7-86b2-76d4f593e051</string>
				<key>name</key>
				<string>KeskeseAdHoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>933F83CUZH</string>
				<key>name</key>
				<string>NI Vol</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
